

* {
    font-family: sans-serif;
}

h3 {
    font-style: oblique;
    font-display: center;
}
span {
font-size: small;
font-style: normal;
align-items: center;
}
h1{
    font-size: 34px;
    font-weight: 200;
    margin-bottom: 25px;
    background-color: skyblue;
}