:root {
  --text-color: #333333;
  --light-blue: #0872B4;
  --text-primary: #07639c;
}

* {
  font-family: 'Hero New', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.container-lg {
  max-width: 95vw;
  margin: 0 auto;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

h3 {
  font-size: 1.75rem;
}

button {
  background-color: white;
  padding: 10px 15px;
  font-size: 1.375rem;
  border: unset;
  cursor: pointer;
}

button:hover {
  background-color: #edf4f9;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

header h1 {
  font-size: 1rem;
  font-weight: 600;
}

header ul {
  display: flex;
  list-style: none;
  column-gap: 40px;
}

header ul li a {
  text-decoration: none;
}

header ul li.active {
  font-weight: 700;
}


#intro {
  height: 400px;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro h2 {
  color: white;
  font-size: 2.125rem;
  max-width: 780px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 16px;
}

#intro button {
  color: var(--text-primary);
}

#sample {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

#sample img {
  margin-top: -100px;
  width: 786px
}

#intro-text {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

#intro-text h3 {
  text-align: center;
  max-width: 740px;
}

.sample-profiles {
  display: flex;
  margin-bottom: 32px;
}

.sample-profiles img {
  width: 762px;
}

.sample-profiles div {
  align-self: flex-end;
  padding-bottom: 80px;
  padding-right: 80px;
  width: 400px;
  margin-left: -200px;
}

.sample-profiles div h3 {
  font-weight: 400;
}

.sample-profiles div p {
  font-size: 1.625rem;
}